<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="NLogEx" type="NLogEx.Config,NLogEx"/>
   </configSections>
   <!-- Log Database Configuration -->
   <connectionStrings>
      <add name="LogDB" connectionString="Data Source=.;Integrated Security=true;Initial Catalog=TestDB1;Pooling=False;"/>
   </connectionStrings>
   <!-- SMTP Server Configuration -->
   <system.net>
      <mailSettings>
         <smtp>
            <network host="127.0.0.1"/>
         </smtp>
      </mailSettings>
   </system.net>
   <!-- Logging Configuration -->
   <NLogEx xmlns="http://brentspell.us/Schemas/NLogEx/LogConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\Xml\LogConfig.xsd">
      <instances>
         <!-- Console Log -->
         <add synchronous="true">
            <properties>
               <add>Event.Type</add>
               <add>Event.Timestamp</add>
               <add>Event.Source</add>
               <add>Event.Message</add>
            </properties>
            <logger type="NLogEx.Loggers.Console">
               <formatter format="{1:X}: {2} - {3}" indent="3" hang="3" wrap="true" width="80"/>
            </logger>
         </add>
         <!-- Debug Console Log -->
         <add synchronous="true">
            <properties>
               <add>Event.Message</add>
               <add>Environment.MachineName</add>
               <add>Environment.UserName</add>
               <add>Environment.UserDomainName</add>
               <add>Environment.CurrentDirectory</add>
               <add>Environment.OSVersion</add>
               <add>Environment.ProcessorCount</add>
               <add>Process.ID</add>
               <add>Process.Name</add>
               <add>Process.StartTime</add>
               <add>Process.PeakVirtualMemory</add>
               <add>Process.PeakPagedMemory</add>
               <add>Process.PeakWorkingSetMemory</add>
               <add>Process.ProcessorTime</add>
               <add>Process.PrivilegedProcessorTime</add>
               <add>Process.UserProcessorTime</add>
               <add>Transaction.LocalID</add>
               <add>Transaction.GlobalID</add>
               <add>Transaction.Started</add>
               <add>Transaction.State</add>
               <add>Thread.ID</add>
               <add>Thread.StackTrace</add>
            </properties>
            <logger type="NLogEx.Loggers.Debug">
               <formatter hang="3"/>
            </logger>
         </add>
         <!-- Text Log -->
         <add buffer="10">
            <properties>
               <add>Event.Time</add>
               <add>Event.Type</add>
               <add>Event.Source</add>
               <add>Event.Message</add>
            </properties>
            <logger type="NLogEx.Loggers.TextFile">
               <properties>
                  <add name="FileName">LogDriver.log</add>
                  <add name="Capacity">500</add>
               </properties>
               <formatter format="{0:MM/dd/yyyy HH:mm:ss} {1,-7} {2} {3}" hang="3"/>
            </logger>
         </add>
         <!-- Windows Event Log -->
         <add>
            <properties>
               <add>Event.Type</add>
               <add>Event.Source</add>
               <add>Event.Message</add>
               <add>Event.Exception</add>
               <add>Event.Timestamp</add>
               <add>Event.Time</add>
            </properties>
            <logger type="NLogEx.Loggers.Windows">
               <properties>
                  <add name="LogName">NLogEx.LogDriver</add>
               </properties>
            </logger>
            <filter>
               <include except="true" name="Event.Type" value="Trace"/>
            </filter>
         </add>
         <!-- Database Log -->
         <add buffer="2">
            <properties>
               <add>Event.Type</add>
               <add>Event.Source</add>
               <add>Event.Timestamp</add>
               <add>Event.Message</add>
               <add>Event.Time</add>
               <add>Custom.Property</add>
            </properties>
            <logger type="NLogEx.Loggers.DBTable">
               <properties>
                  <!-- SqlClient (default provider) with App.Config connection string -->
                  <add name="ConnectionName">LogDB</add>
                  <!-- ODBC with configured DSN
                  <add name="Provider">System.Data.Odbc</add>
                  <add name="ConnectionString">DSN=LogTest</add>
                   -->
                  <add name="Table">LogTest</add>
                  <add name="Columns">Type, Source, Timestamp, Message, Time, Property</add>
               </properties>
            </logger>
         </add>
         <!-- SMTP Log -->
         <add buffer="10">
            <properties>
               <add>Event.Time</add>
               <add>Environment.MachineName</add>
               <add>Event.Source</add>
               <add>Event.Message</add>
            </properties>
            <logger type="NLogEx.Loggers.Smtp">
               <properties>
                  <add name="From">test@nlogex.com</add>
                  <add name="To">test@example.com</add>
                  <add name="Subject">Log Test</add>
               </properties>
            </logger>
            <filter>
               <include name="Event.Type"/>
            </filter>
         </add>
      </instances>
   </NLogEx>
</configuration>
